version: "3.8"
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    depends_on:
      - db

  db:
    container_name: dht22_db
    image: mongo
    restart: always
    ports:
      - 27017:27017
